body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: #473472;
    color: #D6F4ED;
}

.hero-section {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: inset 0 0 100px rgba(135, 186, 195, 0.1);
}

.hero-text-content {
    max-width: 800px;
    padding-left: 20px;
    border-left: 4px solid #87BAC3;
}

.intro-tag {
    font-size: 1.25rem;
    color: #87BAC3;
    margin-bottom: 5px;
    font-weight: 500;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.hero-name {
    font-size: 4.5rem;
    margin: 0 0 15px 0;
    line-height: 1.1;
    font-weight: 800;
    color: #251f5c;
}

.hero-title {
    font-size: 1.3rem;
    font-weight: 300;
    color: #4e4672;
    margin-top: 15px;
}

.hero-title .highlight {
    font-weight: 600;
    color: #01085f;
    background-color: #53629E;
    padding: 2px 7px;
    border-radius: 4px;
    letter-spacing: 0.5px;
}

.hero-title span {
    color: #53629E;
}

@media (max-width: 768px) {
    .hero-name {
        font-size: 2.8rem;
    }
    .hero-title {
        font-size: 1.1rem;
    }
}
